- @page_title = "クラス・ロール・ステータス グラフ"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: status_graphs_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "No", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr.sep
        %td.indent
        - td_date_between_form(f, @form_params, @placeholder, class_name: nil,  label: "取得日", params_name: "created_at", data_target: "date", placeholder: nil, colspan: 3)
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_status",
                    label: {open: "ステータスを絞り込む", close: "ステータスでの絞り込みを表示しない"},
                    act_desc: "筋力、体力……、隊列、ロール", base_first: false)
    %tbody.closed
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "筋力", params_name: "str_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "体力", params_name: "vit_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "感覚", params_name: "sense_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "敏捷", params_name: "agi_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "魔力", params_name: "mag_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "知力", params_name: "int_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "意志", params_name: "will_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "魅力", params_name: "charm_form")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "equip_form",label: "隊列", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "１列目", params_name: "line_1", class_name: "after_space"},
                                 {label: "２列目", params_name: "line_2", class_name: "after_space"},
                                 {label: "３列目", params_name: "line_3"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "equip_form",label: "ロール", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "アタッカー", params_name: "role_attacker", class_name: "after_space"},
                                 {label: "タンク", params_name: "role_tank", class_name: "after_space", br: true},
                                 {label: "サポート", params_name: "role_support", class_name: "after_space"},
                                 {label: "ヒーラー", params_name: "role_healer", class_name: "after_space mobile_br"},
                                 {label: "設定なし", params_name: "role_none"}])
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_used",
                    label: {open: "その他ステータスを絞り込む", close: "その他ステータスでの絞り込みを表示しない"},
                    act_desc: "消費済AP、消費済ステータスポイント、善行値", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "消費済AP", params_name: "used_ap_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "消費済ステータスポイント", params_name: "used_stp_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "善行値", params_name: "goodness_form", colspan: 3)
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_class",
                    label: {open: "クラスを絞り込む", close: "クラスでの絞り込みを表示しない"},
                    act_desc: "メインクラス、メインクラスLv、サブクラス", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "main_class_form",label: "メインクラス", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "ファイター",     params_name: "main_fighter",        class_name: "after_space"},
                                 {label: "ブシドー",       params_name: "main_bushido",        class_name: "after_space", br: true},
                                 {label: "クルセイダー",   params_name: "main_crusader",       class_name: "after_space"},
                                 {label: "ウォーリーダー", params_name: "main_war_leader",     class_name: "after_space", br: true},
                                 {label: "シューター",     params_name: "main_shooter",        class_name: "after_space"},
                                 {label: "シーフ",         params_name: "main_thief",          class_name: "after_space", br: true},
                                 {label: "ニンジャ",       params_name: "main_ninja",          class_name: "after_space"},
                                 {label: "アクロバット",   params_name: "main_acrobat",        class_name: "after_space", br: true},
                                 {label: "メイジ",         params_name: "main_mage",           class_name: "after_space"},
                                 {label: "ソーサルナイト", params_name: "main_sorcery_night",  class_name: "after_space", br: true},
                                 {label: "エンチャンター", params_name: "main_enchanter",      class_name: "after_space"},
                                 {label: "シャーマン",     params_name: "main_shaman",         class_name: "after_space", br: true},
                                 {label: "プリースト",     params_name: "main_priest",         class_name: "after_space"},
                                 {label: "タイムシフター", params_name: "main_time_shifter",   class_name: "after_space", br: true},
                                 {label: "バトルバード",   params_name: "main_battle_bard",    class_name: "after_space"},
                                 {label: "ダンサー",       params_name: "main_dancer",         class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "メインLv", params_name: "main_lv_form", colspan: 3)
     
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_sub_class",
                    label: {open: "サブクラスで絞り込む", close: "サブクラスでの絞り込みを表示しない"},
                    act_desc: "サブクラス1or2", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "main_class_form",label: "サブクラス1or2", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "ファイター",     params_name: "sub_fighter",        class_name: "after_space"},
                                 {label: "ブシドー",       params_name: "sub_bushido",        class_name: "after_space", br: true},
                                 {label: "クルセイダー",   params_name: "sub_crusader",       class_name: "after_space"},
                                 {label: "ウォーリーダー", params_name: "sub_war_leader",     class_name: "after_space", br: true},
                                 {label: "シューター",     params_name: "sub_shooter",        class_name: "after_space"},
                                 {label: "シーフ",         params_name: "sub_thief",          class_name: "after_space", br: true},
                                 {label: "ニンジャ",       params_name: "sub_ninja",          class_name: "after_space"},
                                 {label: "アクロバット",   params_name: "sub_acrobat",        class_name: "after_space", br: true},
                                 {label: "メイジ",         params_name: "sub_mage",           class_name: "after_space"},
                                 {label: "ソーサルナイト", params_name: "sub_sorcery_night",  class_name: "after_space", br: true},
                                 {label: "エンチャンター", params_name: "sub_enchanter",      class_name: "after_space"},
                                 {label: "シャーマン",     params_name: "sub_shaman",         class_name: "after_space", br: true},
                                 {label: "プリースト",     params_name: "sub_priest",         class_name: "after_space"},
                                 {label: "タイムシフター", params_name: "sub_time_shifter",   class_name: "after_space", br: true},
                                 {label: "バトルバード",   params_name: "sub_battle_bard",    class_name: "after_space"},
                                 {label: "ダンサー",       params_name: "sub_dancer",         class_name: "after_space"}])
     
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_sub_detail",
                    label: {open: "サブクラスで細かく絞り込む", close: "サブクラスで細かく絞り込みを表示しない"},
                    act_desc: "サブクラス1、サブクラス1Lv、サブクラス2、サブクラス2Lv", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "main_class_form",label: "サブクラス1", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "ファイター",     params_name: "sub1_fighter",        class_name: "after_space"},
                                 {label: "ブシドー",       params_name: "sub1_bushido",        class_name: "after_space", br: true},
                                 {label: "クルセイダー",   params_name: "sub1_crusader",       class_name: "after_space"},
                                 {label: "ウォーリーダー", params_name: "sub1_war_leader",     class_name: "after_space", br: true},
                                 {label: "シューター",     params_name: "sub1_shooter",        class_name: "after_space"},
                                 {label: "シーフ",         params_name: "sub1_thief",          class_name: "after_space", br: true},
                                 {label: "ニンジャ",       params_name: "sub1_ninja",          class_name: "after_space"},
                                 {label: "アクロバット",   params_name: "sub1_acrobat",        class_name: "after_space", br: true},
                                 {label: "メイジ",         params_name: "sub1_mage",           class_name: "after_space"},
                                 {label: "ソーサルナイト", params_name: "sub1_sorcery_night",  class_name: "after_space", br: true},
                                 {label: "エンチャンター", params_name: "sub1_enchanter",      class_name: "after_space"},
                                 {label: "シャーマン",     params_name: "sub1_shaman",         class_name: "after_space", br: true},
                                 {label: "プリースト",     params_name: "sub1_priest",         class_name: "after_space"},
                                 {label: "タイムシフター", params_name: "sub1_time_shifter",   class_name: "after_space", br: true},
                                 {label: "バトルバード",   params_name: "sub1_battle_bard",    class_name: "after_space"},
                                 {label: "ダンサー",       params_name: "sub1_dancer",         class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "サブ1Lv", params_name: "sub1_lv_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "main_class_form",label: "サブクラス2", colspan: 3, label_td_class_name: "indent",
                    checkboxes: [{label: "ファイター",     params_name: "sub2_fighter",        class_name: "after_space"},
                                 {label: "ブシドー",       params_name: "sub2_bushido",        class_name: "after_space", br: true},
                                 {label: "クルセイダー",   params_name: "sub2_crusader",       class_name: "after_space"},
                                 {label: "ウォーリーダー", params_name: "sub2_war_leader",     class_name: "after_space", br: true},
                                 {label: "シューター",     params_name: "sub2_shooter",        class_name: "after_space"},
                                 {label: "シーフ",         params_name: "sub2_thief",          class_name: "after_space", br: true},
                                 {label: "ニンジャ",       params_name: "sub2_ninja",          class_name: "after_space"},
                                 {label: "アクロバット",   params_name: "sub2_acrobat",        class_name: "after_space", br: true},
                                 {label: "メイジ",         params_name: "sub2_mage",           class_name: "after_space"},
                                 {label: "ソーサルナイト", params_name: "sub2_sorcery_night",  class_name: "after_space", br: true},
                                 {label: "エンチャンター", params_name: "sub2_enchanter",      class_name: "after_space"},
                                 {label: "シャーマン",     params_name: "sub2_shaman",         class_name: "after_space", br: true},
                                 {label: "プリースト",     params_name: "sub2_priest",         class_name: "after_space"},
                                 {label: "タイムシフター", params_name: "sub2_time_shifter",   class_name: "after_space", br: true},
                                 {label: "バトルバード",   params_name: "sub2_battle_bard",    class_name: "after_space"},
                                 {label: "ダンサー",       params_name: "sub2_dancer",         class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "サブ2Lv", params_name: "sub2_lv_form", colspan: 3)
    
    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_equip",
                    label: {open: "装備アーティファクトを絞り込む", close: "装備アーティファクトでの絞り込みを表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "装備アーティファクト", params_name: "artifact_form", placeholder: "Artifact", colspan: 3)
    
    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

%h3.graph_title メインクラス
= column_chart SetClass.where(class_num: 1).where.not(class_id: 0).search(params[:q]).result.to_sum_graph_proper_id(:class_id), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title サブクラス
= column_chart SetClass.where.not(class_num: 1).where.not(class_id: 0).search(params[:q]).result.to_sum_graph_proper_id(:class_id), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title ロール
= column_chart Status.search(params[:q]).result.to_sum_graph_proper_id(:role_id), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 筋力
= column_chart Status.search(params[:q]).result.to_range_graph(:str), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 体力
= column_chart Status.search(params[:q]).result.to_range_graph(:vit), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 感覚
= column_chart Status.search(params[:q]).result.to_range_graph(:sense), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 敏捷
= column_chart Status.search(params[:q]).result.to_range_graph(:agi), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 魔力
= column_chart Status.search(params[:q]).result.to_range_graph(:mag), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 知力
= column_chart Status.search(params[:q]).result.to_range_graph(:int), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 意志
= column_chart Status.search(params[:q]).result.to_range_graph(:will), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br

%h3.graph_title 魅力
= column_chart Status.search(params[:q]).result.to_range_graph(:charm), ytitle:"人数", library: {style: "min-width:900px;"}, library: @library_param
%br
