%h1 SoLAデータ小屋
%p
  このサイトでは『
  %a{:href => "http://lostartifact.xsrv.jp/SoLA/login.php", :target => "_blank"} Story of Lost Artifact
  』を解析して得られる情報を扱っています。
  %br
  データは毎日3時、6時、9時、15時、18時、21時に取得を開始します。SoLA公式サイトへの負荷がかからないように、1時間から2時間程かけて結果を取得してからデータ小屋に反映されます。
  %br
  SoLA公式サイトから戦闘ログが削除されたシーズンの戦闘結果へのリンクは弊サイト#{link_to "データ小屋アーカイブス", "https://archives.teiki.org/sola/1/"}に保存したものに置き換えています。
%br
%p= top_date_text(@last_updated, @uploaded_created)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "ステータス・クラス・装備 一覧", statuses_path
            %li= link_to "設定スキル一覧", skills_path
            %li= link_to "称号一覧", titles_path
          %ul  
      .col-md-6
        %ul
          %li 結果データ
          %ul
            %li= link_to "戦闘ログ一覧", aps_path
    .row
      .col-md-6
        %ul
          %li グラフデータ
          %ul
            %li= link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
            %li= link_to "設定スキル遷移グラフ", skill_history_path + "?graph=on"
      .col-md-6
        %ul
          %li 新出データ
          %ul
            %li= link_to "新出設定スキル一覧", new_skills_path
      .col-md-6
        %ul
          %li スクリプト
          %ul
            %li= link_to "フォローリストから検索用文字列を作るスクリプト", top_page_script_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2021/8/28
      %ul
        %li
          = link_to "ステータス・クラス・装備 一覧", statuses_path
          、
          = link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
          に新クラス「メディカリスト」での絞り込みを追加
      %li 2021/4/13
      %ul
        %li
          = link_to "戦闘ログ一覧", aps_path
          において、物語戦の絞り込み用チェックボックスが存在しなかった不具合を修正
        %li
          = link_to "ステータス・クラス・装備 一覧", statuses_path
        %ul
          %li
            善行値を削除
          %li
            メル、ギルドメダル、名声の表示・検索を追加
          %li
            対人戦用、物語戦用、チャレダン用の装備アーティファクトの表示・検索を追加
      %li 2021/2/16
      %ul
        %li
          = link_to "設定スキル一覧", skills_path
          、
          = link_to "設定スキル遷移グラフ", skill_history_path + "?graph=on"
          に物語戦用、チャレダン用のデータを追加
      %li 2021/2/16
      %ul
        %li
          = link_to "称号一覧", titles_path
          を公開
      %li 2021/2/7
      %ul
        %li
          SoLA公式サイトから削除された戦闘結果へのリンクを
          = link_to "データ小屋アーカイブス", "https://archives.teiki.org/sola/1/"
          に保存したものに変更
      %li 2021/1/6
      %ul
        %li
          = link_to "フォローリストから検索用文字列を作るスクリプト", top_page_script_path
          を公開
      %li 2021/1/2
      %ul
        %li
          = link_to "ステータス・クラス・装備 一覧", statuses_path
          、
          = link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
          に新クラス「グレムリンテイマー」での絞り込みを追加
      %li 2020/12/6
      %ul
        %li
          本稼働データに移行。
          %br
          オープンベータ時のデータは
          = link_to "SoLAオープンベータ データ小屋", "https://data.teiki.org/sola_0/"
          に移行。
      %li 2019/9/15
      %ul
        %li
          = link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
          を公開
        %li
          = link_to "設定スキル遷移グラフ", skill_history_path + "?graph=on"
          を公開
      %li 2019/9/2
      %ul
        %li
          = link_to "新出設定スキル一覧", new_skills_path
          を公開
      %li 2019/8/29
      %ul
        %li
          = link_to "戦闘ログ一覧", aps_path
          を公開
      %li 2019/8/28
      %ul
        %li
          = link_to "設定スキル一覧", skills_path
          の元スキル名で検索ができない不具合、
          %br
          スキル名で完全一致でしか検索ができない不具合を修正
      %li 2019/8/27
      %ul
        %li サイト公開
