%h1 SoLAオープンベータ データ小屋
%p
  このサイトでは『
  Story of Lost Artifact
  』
  %span{:style => "font-size:small;"} (公式サイト消滅によりリンク削除)
  のオープンベータ結果を解析して得られる情報を扱っていました。
  %br
  オープンベータ終了に伴い、最終日までの全結果から取得したデータを残しています。
  %br
  戦闘ログへのリンクは弊サイト#{link_to "データ小屋アーカイブス", "https://archives.teiki.org/sola/0/"}に保存したものに置き換えています。
%p{style: "font-size:x-large;"} 
  = link_to "⇒本稼働データ：SoLAデータ小屋", "https://data.teiki.org/sola/"
%br
%p= top_date_text(@latest_created, @uploaded_created)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "ステータス・クラス・装備 一覧", statuses_path
            %li= link_to "設定スキル一覧", skills_path
          %ul  
      .col-md-6
        %ul
          %li 結果データ
          %ul  
            %li= link_to "戦闘ログ一覧", aps_path
            %br
            %li= link_to "核爆発一覧", nuclears_path
    .row
      .col-md-6
        %ul
          %li グラフデータ
          %ul  
            %li= link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
            %li= link_to "設定スキル遷移グラフ", skill_history_path + "?graph=on"
      .col-md-6
        %ul
          %li 新出データ
          %ul  
            %li= link_to "新出設定スキル一覧", new_skills_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2020/12/6
      %ul
        %li
          結果リンクを
          = link_to "データ小屋アーカイブス", "https://archives.teiki.org/sola/0/"
          のものに置き換え
      %li 2019/9/15
      %ul
        %li
          = link_to "クラス・ロール・ステータス グラフ", status_graphs_path + "?graph=on"
          を公開
        %li
          = link_to "設定スキル遷移グラフ", skill_history_path + "?graph=on"
          を公開
      %li 2019/9/2
      %ul
        %li
          = link_to "新出設定スキル一覧", new_skills_path
          を公開
      %li 2019/8/29
      %ul
        %li
          = link_to "戦闘ログ一覧", aps_path
          を公開
      %li 2019/8/28
      %ul
        %li
          = link_to "核爆発一覧", nuclears_path
          を公開
        %li
          = link_to "設定スキル一覧", skills_path
          の元スキル名で検索ができない不具合、
          %br
          スキル名で完全一致でしか検索ができない不具合を修正
      %li 2019/8/27
      %ul
        %li サイト公開
